[user]
	name = Robin Bate Boerop
	email = me@robinbb.com
[github]
	user = robinbb
[color]
	ui = true
	diff = true
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[merge]
	conflictstyle = diff3
[transfer]
	fsckobjects = true
[alias]
	glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
